#container {
    display: flex;
    background-color: paleturquoise;
    width: 700px;
    height: 500px;

    flex-direction: column;

}

.header {
    margin: 2%;
    display: flex;
    background-color: turquoise;
    width: 96%;
    height: 6%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer {
    margin: 2%;
    display: flex;
    background-color: turquoise;
    width: 96%;
    height: 6%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

#body {
    display:flex;
    flex-direction: row;
    background-color: paleturquoise;
    width: 100%;
    height: 80%;
}

.article {
    display: flex;
    background-color: orange;
    width: 90%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin-left: 20px;
}

.aside {
    display: flex;
    background-color: palegreen;
    width: 40%;
    height: 100%;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin-left: 20px;
}

.image-section {
    margin:50px;
    background-color: orange;
    flex-direction: row;
    display:flex;
    position: relative;
    transform: translate(0px, -180px);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image-section p {
    margin: 10px;
    background-color: gold;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    height: 80px;
    width: 80px;
    color: white;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
